<h1>Definition added!</h1>

<h3>Here are the definitions of your word</h3>

<ul>
	<% @word.dictionary().each do |member| %>
	<li><a href='/definitions/<%=member.id() %>'><%= member.definition() %></a></li>
	<% end %>
</ul>

<a href='/words/<%= @word.id %>/definitions/new'>Add another definition</a>
<p></p>
<a href='/'>Return to home page</a>