<h3>Here are the definitions for your word:</h3>

<ul>
	<% @word.dictionary().each() do |member| %>
	<li><a href='/definitions/<%= member.id() %>'><%= member.definition() %></a></li>
	<% end %>
</ul>

<a href='/Words/<%= @word.id %>/definitions/new'>Add another definition</a>
<a href='/'>Return to home page</a>
