<h1>Add a word to your word list</h1>

<form action='/words' method='post'>
	<label for='word'>Enter a word to define here:</label>
	<input id='word' name='word' type='text'>
	<button type='submit'>Add a word</button>
</form>